@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  color-scheme: light;
}

body {
  background: var(--color-stone-50);
  color: var(--color-stone-900);
}
